---
layout: default
title: Dev Details - Cause dev is in the details
---

{% for post in site.posts limit:3 %}
    <div class="post">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <div class="date">{{ post.date | date_to_string }}</div>
        <div class="body">
            {{ post.content }}
        </div>
        
        <div class="meta">
            <div><g:plusone size="small" href="{{ site.url }}{{ post.url }}"></g:plusone></div>
            <div class="fb-like" data-href="{{ site.url }}{{ post.url }}" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false"></div>
            {% if post.comments %}
            <div><a href="{{ post.url }}#comments">Comments</a></div>
            {% endif %} 
        </div>
    </div>
{% endfor %}
