{% extends "base.html" %}
{% block content %}
  <div class="article-list">
  {% block content_title %}
  {% endblock %}  
  {% for article in articles_page.object_list %}
    <article>
      <h1 class="title">
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      </h1>
      <div class="entry-content"> {{ article.summary }} </div>
      <div class="continue-link">
        <a href="{{ SITEURL }}/{{ article.url }}">Continue Reading &rarr;</a>
      </div>
    </article>
  {% endfor %}
  </div>

  {% include 'pagination.html' %}
{% endblock content %}
