---
layout: default
---
<div class="post">
    <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
    <div class="date">{{ page.date | date_to_string }}</div>
    
    <div class="body">
        {{ content }}
    </div>
    
    <div class="meta">
        <div><g:plusone size="small" href="{{ site.url }}{{ page.url }}"></g:plusone></div>
        <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false"></div>
    </div>
    
    {% if page.comments %}
    <a name="comments"></a>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'devdetails';
        var disqus_url = '{{ site.url }}{{ page.url }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %} 
</div>